ul{
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
  background-color:#777;
}
li{
  float:left;
}
.banner{
	background-color: rgba(251, 197, 182 );
	margin: 15px;
	padding: 10px;
	border: 3px solid #f5eaf6;
	box-shadow: 1px 3px 30px 1px #fb09df;
	text-transform: capitalize;
  text-shadow: 1px 1px #ec69d4 ;
	font-family: Fantasy;
	height: 120px;
	text-align: right;
	font-style: oblique;
  background-image: url('background.jpg');
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
}
.container{
	border:2px #ec32dc solid;
	position: relative;
	top: 2px;
	margin: 15px;
	padding: 10px;
	height: 700px;
        background-image: url('background.jpg');
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size:cover;
}
li a, .dropBtn{
  display: inline-bloock;
  color: pink;
  text-align:center;
  padding: 12px 14px;
}
li a:hover, .dropDown:hover .dropBtn {
   background-color: red;
}
li.dropDown{
display:inline-block;
}
.dropDown-content{
display:none;
position:absolute;
background-color:#f9f9f9;
min-width:160px;
box-shadow: 0px 8px 16px 0px rgba(1,0,1,0.3);
z-index:1;
}

.dropDown-content a{
color:black;
display:block;
text-align:left;
}
.dropDown-content a:hover{
 background-color:#f1f2f1;
  color:pink;
}
.dropDown:hover .dropDown-content{
 display:block;
}





